# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode configuration files and folders
.vscode/

# vim configuration files and folders
.cache/
compile_commands.json

# design and log files
library/
*.aig
*.v
*.blif
*.txt
*log*
*.out

# abc log files
abc.history
abc.rc

#benchmark
benchmarks/

#result
results/

#release file
release/
release_old/

#library file
*.genlib
*liberty.lib
*.super

#temp file
temp*

#engine
engine/
# static library files
lib/
# headers files
include/

# makefile files
SA/src/*/*.mak
# object files
SA/src/*/*.o
# yosys extension files
src/ext/*.so
src/ext/*.d

#executable file
cadcontest

# shell script
*.sh

# source file
*.source

# tcl file
*.tcl

test_*